<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Voltar', sprint_developers_path(@sprint) %>
	</div>
	<h1>Novo Desenvolvedor</h1>
</div>

<div id="data">
	<%= render :partial => 'form' %>
</div>
