<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Novo coment치rio', new_sprint_task_comment_path(@sprint,@task) %>	</div>
	<h1>Coment치rios</h1>
</div>

<div id="data">
	<h2><%= @task.description %></h2>

	<table>
	  <tr>
	    <th>Usu치rio</th>
	    <th>Coment치rio</th>
	  </tr>

	<% for comment in @comments %>
	  <tr>
	    <td><%=h comment.user.name.split(' ')[0] %></td>
	    <td><%=h comment.comment %></td>
	  </tr>
	<% end %>
	</table>
</div>
