body {
	background-color: #efefef;
	margin: 0;
	padding: 0 auto;
}

/*-------------------------------------------------
PAGE HEADER
-------------------------------------------------*/

div.page_header {
  background: #edf3fe;
  margin: 0 0 5px 0;
  padding: 13px 30px 13px 24px;
}

div.page_header h1 {
	padding: 0;
  margin: 0;
	font-size: 14px;
	color: #000;
}

div.page_header h1 span {
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

div.sheet div.page_header h1 {
  font-size: 20px;
}

div.page_header p {
  margin: 5px 0 0 0;
}

/*-------------------------------------------------
PAGE HEADER LINKS
-------------------------------------------------*/
div.page_header_links {
	float: right;
  width: 400px;
  font-size: 11px;
  margin-top: 0;
  text-align: right;
  color: #ccc;
  line-height: 20px;
}

div.page_header_links strong {
  color: #000;
}

div.page_header_links a.active:link,
div.page_header_links a.active:visited,
div.page_header_links a.active:hover {
  background: #999;
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

div.page_header_links a.edit {
  text-decoration: none;
  color: #777;
}

div.page_header_links a.edit:hover {
  color: #fff;
}

h1 {
	font-family: "Lucida Grande", arial, sans-serif;
	padding: 0;
	border-bottom: 0;
	margin: 0;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}


div#top {
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	margin: 0;
}

ul#menu {
	text-align: left;
	margin: 1em 0 1em 0;
	list-style-type: none;
	padding: 3px 10px 3px 10px;
}

ul#menu a {
	font-weight: bold;
	text-decoration: none;
	color: #330000;
}

ul#menu a:hover, a:active {
	color: #FFFFFF;
	background-color: #330000;
}

ul#menu li{
	padding: 0px 5px 0px 0px;
	display: inline;
}

div#main {
	background-color: #fff;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 900px;
	width: 75%;
	float: left;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: thick solid #ccc;
	border-bottom: thick solid #ccc; 
}

div#data {
	padding: 10px;
}

.Footer {
	width: 700px;
	border: 1px solid #000;
	clear: left;
	font-size: 9px;
	color: #666;
	margin: 4px 0 20px 20px;
	text-align: left;
	padding-bottom: 15px;
}

.Footer a:link, .Footer a:visited {
	color: #666;
}

.Footer a:hover {
	color: #fff;
	background: #666;
}

div#side {
	margin: 10px 0px 0px 10px;
	float: left;
	min-width: 200px;
	padding: 10px 10px 10px 10px;
}

div#tip {
	width: 200px;
	background-color: #FFE8B7;
	border: 1px solid #000;
	font-family: 'Verdana';
	font-size: 10px;
	padding: 3px 3px 3px 3px;
}

table#grid {
	width: 100%;
	border-spacing: 0px;
	border: 1px solid #000;
}

table#grid th {
	text-align: left;
	background-color: #efefef;
	border: 1px solid #Fff;
}

table#grid td {
	border: 1px solid #ccc;
}

table#grid th#action {
	text-align: center;
}

table#grid td#action {
	text-align: center;
}

img#user_photo {
	background-color: #fff;
	padding: 3px 3px 20px 3px;
	border: #000 1px solid;
}

div#postit {
	word-wrap:break-word;
	border-right: 1px solid #9999CC;
	border-bottom: 1px solid #9999CC;
	background-color: #FFFF66;
	font-size: 10px;
	width: 30%;
	padding: 2px;
	height: 80px;
	float: left;
	margin: 1px;
	color: #000;		
	font-style: italic;
}

img {
	color: #fff;
	background-color: none;
	text-decoration: none;
}