<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Mostrar', @user %> |
		<%= link_to 'Voltar', users_path %>
	</div>
	
	<h1>Editando usuário</h1>
</div>

<div id="data">
	<%= render :partial => 'form' %>
</div>
