<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Voltar', backlogs_path %>
	</div>
	<h1>Novo Product Backlog</h1>
</div>

<div id="data">
	<%= render :partial => 'form' %>
</div>

