<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Editar', edit_backlog_path(@backlog) %> |
		<%= link_to 'Voltar', backlogs_path %>
	</div>
	<h1>Product Backlog</h1>
</div>

<div id="data">
	<p>
	  <b>Nome:</b>
	  <%=h @backlog.name %>
	</p>

	<p>
	  <b>Comentários:</b>
	  <%= textilize(@backlog.comment) %>
	</p>
</div>