<p>
  <b>Nome:</b>
  <%=h @backlog.name %>
</p>

<p>
  <b>Comentários:</b>
  <%= textilize(@backlog.comment) %>
</p>


<%= link_to 'Editar', edit_backlog_path(@backlog) %> |
<%= link_to 'Voltar', backlogs_path %>
