<h1>Editing backlog_item</h1>

<%= render :partial => 'form', :locals => {:bt_name => "Save"} %>

<%= link_to 'Show', backlog_backlog_item_path(@backlog,@backlog_item) %> |
<%= link_to 'Back', backlog_backlog_items_path(@backlog) %>
