<h1>Editando item de backlog</h1>

<%= render :partial => 'form', :locals => {:bt_name => "Save"} %>

<%= link_to 'Mostrar', backlog_backlog_item_path(@backlog,@backlog_item) %> |
<%= link_to 'Voltar', backlog_backlog_items_path(@backlog) %>
