<html>
<head>
	<title>iRun</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="earlopes">
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "default" %>
</head>
<body style='padding:10px;background-color:#fff'>
	<%= yield %>
</body>
</html>